@page
@model DDAC_Project.Views.Advisor.SelectUserModel
@{
}

<div>
    <p>ini untuk select user mana yang mau diliat analysis nya (ada tiga div).
        Kalau user nya cuma 2 under him, maka yang ketiga kasih message aja: "No user"</p>
</div>