@model DDAC_Project.Models.Category
@{
}
<h2 class="mb-4">Add a New Category</h2>
<form asp-action="AddCategory" method="post" style="border: solid 1.5px lightgrey; border-radius: 15px; height: fit-content; width: 100%; padding: 25px 20px">
    <div class="mb-3">
        <label asp-for="Name" class="form-label" style="font-weight: 500">Category Name</label>
        <input class="form-control" asp-for="Name" placeholder="Enter category name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Type" class="form-label" style="font-weight: 500">Target Amount</label>
        <select asp-for="Type" class="form-select" >
            <option value="Income" selected>Income</option>    
            <option value="Expense">Expense</option>    
        </select>
        <span asp-validation-for="Type"></span>
    </div>
    <button type="submit" name="submit" class="btn btn-dark" style="width: 100%">Add a new category</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}