@{
    ViewData["Title"] = "About Us";
}

<div style="display: flex; text-align: center; flex-direction: column; width: 100%">
    <div style="height: 400px; width: 80%; display: flex; flex-direction: column; justify-content: center; margin: 0 auto">
        <h1>Our Mission</h1>
        <p style="font-size: 18px; color: gray">
            Our mission is to empower individuals to manage their finances
            effectively through easy expense tracking, budget planning, goal setting,
            detailed reports, and expert advisor consultations. We are committed to making
            financial management simple, accessible, and effective for everyone.
        </p>
    </div>
    <div style="height: 400px; background-color: #f0f0f0; display: flex; flex-direction: column; justify-content: center; padding:0px 140px 0px 140px; margin: 0 auto">
        <h1>Our Values</h1>
        <p style="font-size: 18px; color: gray">
            Our values are centered around transparency, empowerment,
            and simplicity. We believe in providing clear and honest
            financial insights, empowering users with the tools and knowledge
            to achieve their financial goals, and ensuring our platform is user-friendly and accessible to all.
        </p>
    </div>
    <div style="height: 600px; width: 80%; display: flex; flex-direction: column; justify-content: center; margin: 0 auto">
        <h1>Meet the Team</h1>
        <p style="font-size: 18px; color: gray">
            Fiscella is led by a team of experienced financial professionals
            who are passionate about helping our clients achieve their financial goals.
        </p>
        <div style="display: flex; flex-direction: row; justify-content: center">
            <div>
                <img src="~/image/Fiscella.png" style="width:100px; height:100px; border-radius: 50%" />
                <p style="font-size:18px; font-weight:bold">Adib Jafney Bin Johadey</p>
                <p style="color: gray">Adib brings extensive experience in the financial industry, specializing in wealth management and investment strategy.</p>
            </div>
            <div style="margin:0px 200px 0px 200px">
                <img src="~/image/Fiscella.png" style="width:100px; height:100px;" />
                <p style="font-size:18px; font-weight:bold">Evi Renaldi Soly</p>
                <p style="color: gray">
                    Soly has a background in financial planning and risk management, and is
                    passionate about helping clients achieve their long-term financial goals.</p>
            </div>
            <div>
                <img src="~/image/Fiscella.png" style="width:100px; height:100px;" />
                <p style="font-size:18px; font-weight:bold">Maximillian Leonard</p>
                <p style="color: gray">
                    Maximillian has extensive experience in financial analysis and strategic planning,
                    and is dedicated to ensuring Fiscella's financial stability and growth.</p>
            </div>
        </div>
    </div>
    <div style="height: 400px; background-color: #f0f0f0; display: flex; flex-direction: column; justify-content: center; padding:0px 140px 0px 140px">
        <h1>Our Contact</h1>
        <div style="display: flex; flex-direction: row; border: groove">
            <div style="border-right: groove">
                <h3>Social Media</h3>
                <a href="https://x.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.instagram.com/" target="_blank"></a>
                <a href="https://www.facebook.com/" target="_blank"></a>
                <a href="https://www.youtube.com/" target="_blank"></a>
                <a href="https://www.linkedin.com/" target="_blank"></a>
            </div>
            <div>
                <div style="border-bottom: groove">
                    <h3>Email</h3>
                    <p>Corporate Email: fiscella.corporate@gmail.com</p>
                    <p>Customer Service: fiscella.cs@gmail.com</p>
                </div>
                <div>
                    <h3>Phone</h3>
                    <p>Whatsapp: 01112212480</p>
                    <p>24/7 Customer Call Center: 01231231234</p>
                </div>
            </div>
        </div>
    </div>
</div>

