@{
    ViewData["Title"] = "Features";
}

<div style="display: flex; flex-direction: column; justify-content: center">
    <div style="text-align: center; margin: 50px 0px 50px 0px">
        <h2 style="text-align: center">Features That Matter</h2>
        <p>Our platform is packed with features to help you manage your finances.</p>
    </div>
    <div style="border: groove; width: 70%; margin: 0 auto; text-align: center; margin-bottom: 30px">
        <div style="display:flex; justify-content: space-between; height: fit-content; border-bottom: groove; margin: 0 auto;">
            <div style="width: 30%; border-right: groove; padding: 30px 20px">
                <p style="font-size: 25px"><i class="fa-solid fa-dollar-sign"></i></p>
                <p style="font-weight: bold; font-size: 18px">Manage Expense</p>
                <p>Log and categorize daily expenses.</p>
            </div>
            <div style="width: 40%; padding: 30px 20px">
                <p style="font-size: 25px"><i class="fa-solid fa-chart-bar"></i></p>
                <p style="font-weight: bold; font-size: 18px">Budget Planning</p>
                <p>Create and manage montly or yearly budgets.</p>
            </div>
            <div style="width: 30%; border-left: groove; padding: 30px 20px">
                <p style="font-size: 25px"><i class="fa-solid fa-bullseye"></i></p>
                <p style="font-weight: bold; font-size: 18px">Financial Goals</p>
                <p>Set and track financial goals.</p>
            </div>
        </div>
        <div style="display:flex; justify-content: space-between; height: fit-content; margin: 0 auto;">
            <div style="width: 50%; border-right: groove; padding: 15px">
                <p style="font-size: 25px"><i class="fa-solid fa-chart-pie"></i></p>
                <p style="font-weight: bold; font-size: 18px">Analysis</p>
                <p>View detailed reports of income, expenses, and progress towards financial goals.</p>
            </div>
            <div style="width: 50%; padding: 15px">
                <p style="font-size: 25px"><i class="fa-solid fa-people-arrows"></i></p>
                <p style="font-weight: bold; font-size: 18px">Advisor Interaction</p>
                <p>Consult with financial advisors and receive recommendations.</p>
            </div>
        </div>
    </div>
</div>

