@using DDAC_Project.Constants
@using Microsoft.AspNetCore.Identity
@using DDAC_Project.Areas.Identity.Data


@inject SignInManager<DDAC_ProjectUser> SignInManager
@inject UserManager<DDAC_ProjectUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(UserRoles.Admin))
    {
        <li class="nav-item">
            <a class="nav-link sidebar-nav" is-active-route aria-current="page" asp-controller="Admin" asp-action="Index"><i class="fa-solid fa-table-cells-large"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-nav" aria-current="page" asp-controller="Admin" asp-action="ManageUser"><i class="fa-solid fa-users-gear"></i>Manage User</a>
        </li>
    }
    else if (User.IsInRole(UserRoles.Advisor))
    {
        <li class="nav-item">
            <a class="nav-link sidebar-nav" is-active-route aria-current="page" asp-controller="Advisor" asp-action="Index"><i class="fa-solid fa-table-cells-large"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-nav" aria-current="page" asp-controller="Advisor" asp-action="SelectUser"><i class="fa-solid fa-chart-pie"></i>Analysis</a>
        </li>
    }
    else if (User.IsInRole(UserRoles.Client))
    {
        <li class="nav-item">
            <a class="nav-link sidebar-nav" is-active-route aria-current="page" asp-controller="Client" asp-action="Index"><i class="fa-solid fa-table-cells-large"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-nav" aria-current="page" asp-controller="Client" asp-action="Analysis"><i class="fa-solid fa-chart-pie"></i>Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-nav" aria-current="page" asp-controller="Client" asp-action="Goals"><i class="fa-solid fa-bullseye"></i>Financial Goals</a>
        </li>
    }
}
else
{
    <li class="ms-sm-auto">
        <a class="btn btn-dark text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="">
        <a class="btn text-dark" style="border: 1px solid black" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
}
