@model DDAC_Project.Controllers.AdminController.CreateAdvisorModel

@{
    ViewData["Title"] = "Add Advisor";
}

<div class="row" style="display: flex; justify-content: center; margin: 50px 0px 50px 0px">
    <form asp-action="AddAdvisor" asp-controller="Admin" method="post" class="col-md-4">
        <h2 style="text-align: center">Add New Advisor</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="John" />
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Doe" />
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="PhoneNumber" type="tel" class="form-control" autocomplete="tel" aria-required="true" placeholder="+1 (555) 123-4567" />
            <label asp-for="PhoneNumber">Phone Number</label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Specialization" type="tel" class="form-control" autocomplete="tel" aria-required="true" placeholder="+1 (555) 123-4567" />
            <label asp-for="Specialization">Specialization</label>
            <span asp-validation-for="Specialization" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="YearOfExperience" type="tel" class="form-control" type="number" autocomplete="tel" aria-required="true" placeholder="+1 (555) 123-4567" />
            <label asp-for="YearOfExperience">Year of Experience</label>
            <span asp-validation-for="YearOfExperience" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
    </form>
</div>
